<!DOCTYPE html>
<html>
<head>
  <title>Заказы</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" type="text/css" href="analytics.css">
</head>
<body>
  <h1>Заказы</h1>
  <div id="container">
    <div id="chart-container">
      <canvas id="myChart" width="500" height="300"></canvas>
    </div>
    <div id="table-container">
      <h2>Общая стоимость заказов: {{ total_cost }}</h2>
      <table>
        <thead>
          <tr>
            <th>№</th>
            <th>Заказ №</th>
            <th>Стоимость заказа, руб</th>
            <th>Срок поставки</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ order.order_number }}</td>
            <td>{{ order.invoice_number }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.date_delivery }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates|safe }},
            datasets: [{
                label: 'Стоимость заказа',
                data: {{ costs|safe }},
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: 'rgb(255, 99, 132)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Динамика стоимости заказов'
                }
            }
        }
    });
  </script>
</body>
</html>
